









.wrapper {
    margin-top: 70px;
    position: relative;
    margin-bottom: rem(30px);
  }
  
  .dropzone {
    border:10px solid #0fa0ee;
    border-radius: 5px;
    padding: 20px;
    border-width: rem(1px);
    padding-bottom: rem(50px);
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
  
  .control {
    position: absolute;
    width: rem(250px);
    left: calc(50% - rem(60px));
    bottom: rem(-20px);
  }